# dependencies
sata.technology/node_modules
sata.technology/.pnp
sata.technology/.pnp.js
sata.technology/build
sata.technology/coverage
sata.technology/.DS_Store
sata.technology/.env.local
sata.technology/.env.development.local
sata.technology/.env.test.local
sata.technology/.env.production.local
sata.technology/npm-debug.log*
sata.technology/yarn-debug.log*
sata.technology/yarn-error.log*
sata.technology/.firebase/

veriswap.io/node_modules
veriswap.io/.pnp
veriswap.io/.pnp.js
veriswap.io/build
veriswap.io/coverage
veriswap.io/.DS_Store
veriswap.io/.env.local
veriswap.io/.env.development.local
veriswap.io/.env.test.local
veriswap.io/.env.production.local
veriswap.io/npm-debug.log*
veriswap.io/yarn-debug.log*
veriswap.io/yarn-error.log*
veriswap.io/.firebase/

signata.net/node_modules
signata.net/.pnp
signata.net/.pnp.js
signata.net/build
signata.net/coverage
signata.net/.DS_Store
signata.net/.env.local
signata.net/.env.development.local
signata.net/.env.test.local
signata.net/.env.production.local
signata.net/npm-debug.log*
signata.net/yarn-debug.log*
signata.net/yarn-error.log*
signata.net/.firebase/